In [ ]:
import numpy as np
import pandas as pd
import math

df = pd.read_csv("/content/drive/My Drive/Colab Notebooks/output_h2o_HF_ccpvdz.csv")
df.describe()

               rh1          rh2          ang      energia
count  1577.000000  1577.000000  1577.000000  1577.000000
mean      1.801492     1.790105   104.454254   -75.872634
std       0.405388     0.400403     4.028679     0.275690
min       0.800100     0.812400    94.560000   -76.027176
25%       1.500500     1.482000   101.556000   -75.994797
50%       1.795800     1.793000   104.508000   -75.963159
75%       2.098500     2.092700   107.398000   -75.903216
max       2.798100     2.799900   114.496000   -73.554732

In [ ]:
r_bhor_angstrom =0.529177
f = open("/content/drive/My Drive/Colab Notebooks/output_h2o_HF_ccpvdz_to_SchNet.xyz", "w", newline='')
#f.close()


for index, row in df.iterrows():
    #f = open("NwChem_2_SchNet.csv", "a", newline='')
    f.write("3")
    f.write('\n')
    f.write(str(round(row["energia"],6)))
    #f.write("00000000")
    f.write('\n')
    r1= row["rh1"]*r_bhor_angstrom
    r2= row["rh2"]*r_bhor_angstrom
    seno = math.sin(row["ang"]*math.pi/180/2)
    coseno = math.cos(row["ang"]*math.pi/180/2)
    r1x= r1*coseno
    r2x= r2*coseno
    r1y= r1*seno
    r2y= -r2*seno
    f.write("O\t0.00000\t0.00000\t0.00000")
    f.write('\n')
    f.write("H\t"+str(round(r1x,6))+"\t"+str(round(r1y,6))+"\t0.00000")
    f.write('\n')
    f.write("H\t"+str(round(r2x,6))+"\t"+str(round(r2y,6))+"\t0.00000")
    f.write('\n')
    #f.close()

f.close()    
    #cambioa ht 97208*0.043/27.21 = 153.6